### Associative mining rule

Association rule mining is a technique to identify underlying relations between different items. Take an example of a Super Market where customers can buy variety of items. Usually, there is a pattern in what the customers buy. For instance, mothers with babies buy baby products such as milk and diapers. Damsels may buy makeup items whereas bachelors may buy beers and chips etc. In short, transactions involve a pattern. More profit can be generated if the relationship between the items purchased in different transactions can be identified.

For instance, if item A and B are bought together more frequently then several steps can be taken to increase the profit. For example:

A and B can be placed together so that when a customer buys one of the product he doesn't have to go far away to buy the other product.
People who buy one of the products can be targeted through an advertisement campaign to buy the other.
Collective discounts can be offered on these products if the customer buys both of them.
Both A and B can be packaged together.
The process of identifying an associations between products is called association rule mining. <br><br>
  taken from "stackabuse.com"

In [38]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from itertools import combinations

In [60]:
data = pd.read_csv("data/items.csv", header = 'infer')

# Resolvig the column names into the numeric ones
for index,col in enumerate(list(data.columns)):
    data.rename(columns = {col:index}, inplace = True)

data.fillna("NA", inplace = True)
column_list = list(data.columns)
data

       0      1     2        3
0  apple   beer  rice  chicken
1  apple   beer  rice       NA
2  apple   beer    NA       NA
3  apple  mango    NA       NA
4   milk   beer  rice  chicken
5   milk   beer  rice       NA
6   milk   beer    NA       NA
7   milk  mango    NA       NA

#### Finding all the possible unique pairs:
Assumption - duplicate items will not be repeated in the same row

In [69]:
pairwise_info = {}
for index,row in data.iterrows():
    temp = []
    for col in column_list:
        if row[col] != 'NA':
            temp.append(row[col])
    print([sorted(item) for item in combinations(a, 2)])

[['apple,beer'], ['apple,rice'], ['apple,chicken'], ['beer,rice'], ['beer,chicken'], ['rice,chicken']]
[['apple,beer'], ['apple,rice'], ['beer,rice']]
[['apple,beer']]
[['apple,mango']]
[['milk,beer'], ['milk,rice'], ['milk,chicken'], ['beer,rice'], ['beer,chicken'], ['rice,chicken']]
[['milk,beer'], ['milk,rice'], ['beer,rice']]
[['milk,beer']]
[['milk,mango']]

### Support <br>
This is the percentage of orders that contains the item set. In the example above, there are 5 orders in total and {apple,egg} occurs in 3 of them, so:

             support{apple,egg} = 3/5 or 60%

The minimum support threshold required by apriori can be set based on knowledge of your domain. In this grocery dataset for example, since there could be thousands of distinct items and an order can contain only a small fraction of these items, setting the support threshold to 0.01% may be reasonable.