### Associative mining rule

Association rule mining is a technique to identify underlying relations between different items. Take an example of a Super Market where customers can buy variety of items. Usually, there is a pattern in what the customers buy. For instance, mothers with babies buy baby products such as milk and diapers. Damsels may buy makeup items whereas bachelors may buy beers and chips etc. In short, transactions involve a pattern. More profit can be generated if the relationship between the items purchased in different transactions can be identified.

For instance, if item A and B are bought together more frequently then several steps can be taken to increase the profit. For example:

A and B can be placed together so that when a customer buys one of the product he doesn't have to go far away to buy the other product.
People who buy one of the products can be targeted through an advertisement campaign to buy the other.
Collective discounts can be offered on these products if the customer buys both of them.
Both A and B can be packaged together.
The process of identifying an associations between products is called association rule mining. <br><br>
  taken from "stackabuse.com"

In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [8]:
data = pd.read_csv("data/items.csv", header = 'infer')
# Resolvig the column names inti 
for index,col in enumerate(list(data.columns)):
    data.rename(columns = {col:index}, inplace = True)

  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0      apple       beer       rice    chicken
1      apple       beer       rice        NaN
2      apple       beer        NaN        NaN
3      apple      mango        NaN        NaN
4       milk       beer       rice    chicken